body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  color: white;
  font-size: 60px;
}

h2 {
  color: #ECEDF2;
}

i {
  color: #DBDBDB;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  margin: 0 5px;
}

i:hover {
  color: #003597;
  cursor: pointer;
}

.banner {
  text-align: center;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url("images/axa-banner.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner h1 {
  margin-bottom: 20px;
}

.banner img {
  height: 100px;
}

.feature {
  text-align: center;
  padding: 40px 20px 20px 20px;
  background-color: white;
  border-radius: 30px;
  height: 450px;
  margin-bottom: 20px;
}

.feature h3 {
  margin-bottom: 30px;
}

.feature-title {
  height: 170px;
}

.features {
  padding: 50px;
  text-align: center;
  background-color: #ECEDF2;
}

.features h1 {
  color: #003597;
  font-size: 50px;
  margin-bottom: 50px;
}

.icon {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}

.typeform-share {
  background-color: #003597 !important;
  margin-top: 50px !important;
}

#footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 50px 0;
}
